/* #results {
  display: none;
} */

h1 {
  text-align: center;
  color: bisque;
}

h3 {
  color: aquamarine;
}
#resultsList {
  color: bisque;
}

li {
  color: antiquewhite;
}

#userInputText {
  color: bisque;
  font-weight: 300;
}

img {
  max-width: 100%;
}